<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
</head>

<body class="home">

{% include _browser-upgrade.html %}

<div class="header-wrapper">
{% include _navigation.html %}

{% if page.image.feature %}
  <div class="image-wrap">
  <img src=
    {% if page.image.feature contains 'http://' %}
      "{{ page.image.feature }}"
    {% elsif page.image.feature contains 'https://' %}
      "{{ page.image.feature }}"
    {% else %}
      "{{ site.url }}/images/{{ page.image.feature }}"
    {% endif %}
  alt="{{ page.title }} feature image">
  {% if page.image.credit %}
    <span class="image-credit"><a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
  {% endif %}
  </div><!-- /.image-wrap -->
{% endif %}
</div><!--/.header-wrapper-->


<div class="article-author-side">
  {% include _author-bio.html %}
</div>

<!--<div class="content-wrapper">-->

<div id="index">
	<h3>Short biography</h3>
<p>	I do research in algorithms, applied machine learning and data mining to answer relevant questions in diverse domains, with an emphasis on molecular biology and functional genomics for cancer research. I specialise in combinatorial pattern mining for biclustering and triclustering of time series data.</p>	

<h2>Position</h2>
I am a postdoc with Lodewyk Wessels at the Delft University of Technology (<a href="http://prb.tudelft.nl" target="_blank">PRB / TUDelft</a>) in Delft, and The Netherlands Cancer Institute (<a href="http://ccb.nki.nl" target="_blank">CCB / NKI</a>) in Amsterdam. In this position, I also seek to create synergies between the two groups through the initiation of collaborative projects.

<h2>Background</h2>
In 2013-2014 I was as a(n) <a href="http://fellowship.ercim.eu" target="_blank">ERCIM / Marie Curie postdoc fellow</a> in the group led by Gunnar Klau at the Netherlands Centre for Mathematics and Computer Science (<a href="http://www.cwi.nl" target="_blank">CWI</a>).

I obtained a PhD in computer science from the Technical University of Lisbon in 2013 (<a href="http://www.tecnico.ulisboa.pt" target="_blank">Técnico</a>). My doctoral research was done with Sara Madeira at INESC-ID in Lisbon (<a href="http://www.inesc-id.pt" target="_blank">INESC-ID</a>), and I spent one year in 2009-2010 as a visiting scholar in the group of Yves Moreau at the <a href="http://www.kuleuven.be" target="_blank">University of Leuven</a>. In 2012 I was also a research assistant at <a href="http://www.imperial.ac.uk" target="_blank">Imperial College London</a>.






	  <h3><a href="{{ site.url}}/news/">News and Events</a></h3>
  {% for post in site.categories['news'] %}
  <article>
    {% if post.link %}
      <h2 class="link-post"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y-%m-%d" }}</time> <a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a> <a href="{{ post.link }}" target="_blank" title="{{ post.title }}"><i class="icon-link"></i></a></h2>
    {% else %}
      <h2><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y-%m-%d" }}</time> <a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h2>
    {% endif %}
	<p>{% if post.description %}{{ post.description }}{% else %}{{ post.content | strip_html | strip_newlines | truncate: 120 }}{% endif %}</p>
  </article>
  {% endfor %}
</div><!--/.index-->

<!--<div id="index">
  <h3><a href="{{ site.url}}/posts/">Recent Posts</a></h3>
  {% for post in site.posts limit:5 %}    
  <article>
    {% if post.link %}
      <h2 class="link-post"><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a> <a href="{{ post.link }}" target="_blank" title="{{ post.title }}"><i class="icon-link"></i></h2>
    {% else %}
      <h2><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h2>
      <p>{% if post.description %}{{ post.description }}{% else %}{{ post.content | strip_html | strip_newlines | truncate: 120 }}{% endif %}</p>
    {% endif %}
  </article>
  {% endfor %}
</div><!-- /#index -->

<!--</div><!--/.content-wrapper-->

<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}
  
</body>
</html>
